#navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b1cbbb;
    overflow-x: hidden;
    padding-top: 10px 10px 10px 25px;
  }
  
  .nav-link {
    padding: 10px 8px 8px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
  
  .navlist {
      list-style-type: none;
  }
  
  #navbar a:hover {
    color: white;
  }
  
  .nav_header {
    text-align: center;
      line-height: 1em;
      font-size: 25px;
      padding: 20px;
  }
  
  #navbar a {
    padding: 10px;
    font-size: 16px;
      float: left;
    transition: 0.3s;
      display: block;
      color: black;
      text-align: left;
      font-size: 16px;
  } 
  code {
    background-color: #deeaee;
    color: black;
    border: 1px solid #999;
    font-size: 15px;
    line-height: 2;
    display: block;
    text-align: left;
    padding: 15px;
    margin: 10px;
  }
  .main-section {
    font-size: 18px;
    margin-left: 230px;
  }
  
  @media only screen and (max-width: 380px) {
      body {
          font-size: 1.5em;
      }
  }